
<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarAdmin.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    
<div class="container-fluid">
    <div class="container-fluid">
        <h1 class="text-2xl font-bold mb-3">Berita</h1>
        
    
    </div>
</div>

</main>
            
<%- include("../layouts/footer.ejs") %>
