<nav class="bg-blue-900 shadow-lg p-6 fixed w-full z-10 top-0 flex justify-between items-center">
    <!-- Left side: Logo and links -->
    <div class="flex items-center text-white">
        <!-- Logo -->
        <img src="/logo.png" alt="Logo" class="h-6 mr-2">
        Universitas Andalas
    </div>

    <!-- Right side: User profile -->
    <div class="flex items-center">
        <button class="flex items-center focus:outline-none mr-3">
            <i class="far fa-user-circle text-white"></i>
            <span class="text-white text-sm ml-1 mb-1"><%= email %></span>
        </button>
    </div>
</nav>