<div id="sidebar" class="md:flex md:items-center w-48 fixed h-full bg-white">
    <div class="md:flex-col md:items-stretch md:min-h-full py-4 pl-4 bg-white">
        <% if (id!=1) { %>
        <a href="/" class="flex items-center text-sm  px-4 py-1 mt-2 rounded-lg">
            <i class="fa fa-university mr-2"></i>
            Dashboard
        </a>
        <a href="/pengajuan/surat" class="flex items-center text-sm  px-4 py-1  rounded-lg">
            <i class="fa fa-file-alt mr-2"></i>
            &nbsp;Surat Pengajuan
        </a>
        <a href="/pengajuan/riwayat" class="flex items-center text-sm  px-4 py-1  rounded-lg">
            <i class="fa fa-bars mr-2 "></i>
            Riwayat Pengajuan
        </a>
            <% } %>
          
            <% if (id==1) { %>
            <a href="/" class="flex items-center text-sm  px-4 py-1 rounded-lg">
                <i class="fa fa-users mr-2"></i>
                Mahasiswa
            </a>
            <% } %>

           
        <!-- Add more sidebar links as needed -->
    </div>
</div>