<%- include('./layouts/layout') %>
    <!-- Content -->
    <div class="main-content bg-gray-100 mt-16 md:ml-48 px-4 py-6">
        <div class="container-fluid">
            <h1 class="text-2xl font-bold mb-3">Dashboard</h1>
            <div class="bg-white rounded-lg shadow-md p-4 pdf-viewer text-center mb-5">
                <h2 class="text-2xl font-semibold italic">Problem occured!</h2>
                <p class="italic text-sm mb-5"><%= error %></p>
            </div>

        </div>
    </div>