<%- include('./layouts/layout') %>

    <!-- Content -->
    <div class="main-content bg-gray-100 mt-16 md:ml-48 px-4 py-6">
        <div class="container-fluid">
            <h1 class="text-2xl font-bold mb-3">Surat Pengajuan</h1>
            <div class="bg-white rounded-lg shadow-md p-4 pdf-viewer">
                 <iframe src="/uploads/Surat Penurunan UKT.pdf" class="w-full mb-4" style="height: 500px;"  frameborder="0"></iframe>

            </div>
        </div>
    </div>
