
<%- include("../layouts/header.ejs") %>
<%- include("../layouts/sidebarMahasiswa.ejs") %>

<!-- ========== MAIN ========== -->
<main class="content">
    
<div class="container-fluid">
    <div class="bg-white rounded-lg shadow-md p-4 pdf-viewer">
        <iframe src="/uploads/Surat Penurunan UKT.pdf" class="w-full mb-4" style="height: 500px;" frameborder="0"></iframe>
    
    </div>

</div>

</main>
            
<%- include("../layouts/footer.ejs") %>
